
@{
    ViewBag.Title = "Vote";
    Layout = "~/Views/Shared/_Layout_dynamic_pages.cshtml";

}


<div class="container_middle_V">
    <div >
        <div class="page_header">Contact</div>
        <br /><br /><br />

        <div style="color:#00497a; font-size:30px;">Contact Us:</div>
        <br /><br />
        <hr style="width:65%;" />
        <h3 style="color:#00497a; ">Email: <span style="color:black; font-weight:normal;">info@voteit.com</span> </h3>
        <br />
        <h3 style="color:#00497a; margin-left:120px;">Address: <span style="color: black; font-weight: normal;">Galata Mah. Çamlıbey Sok. No:23/5 <br /> Fatih/istanbul</span></h3>
        <br />
        <h3 style="color:#00497a; margin-right:150px;">Phone Number:  <span style="color: black; font-weight: normal;">444 1 555</span></h3>
        <br />
        <hr style="width:65%;" />
        <div>© 2020 VoteIt, Inc</div>
        <div></div>
    </div>
</div>

<div class="container_right">

</div>