
<section class="container-sect">
    <div class="figure-bg">
        <div id="card">
            <span>WELCOME TO<br>VOTE<a class="logo-color">IT</a></span>
        </div>
        <div class="card_wrapper">
            <div id="card-title">
                
                    <p>
                        Using the @Html.ActionLink("vote", "Vote", "Home") page, you can vote in many voting which categorized.<br>
                        You can follow the voting results on the @Html.ActionLink("results", "Results", "Home") page.
                    </p>
                
            </div>
        </div>
    </div>
</section>