
@{
    ViewBag.Title = "StartingContact";
    Layout = "~/Views/Shared/_Layout_starting_page.cshtml";
}

<section class="container-sect-C">
    <div class="figure-bg-C">
        <div class="container_middle_V">
            <div>
                <br />

                <div style="color:#fff; font-size:30px;">Contact Us:</div>
                <br /><br />
                <hr style="width:65%;" />
                <div style="color:#fff; text-align:left; margin-left:200px;">Email: <span style="color:#fff; font-weight:normal;">info@voteit.com</span> </div>
                <br />
                <div style="color:#fff;text-align:left; margin-left:200px;">Address: <span style="color: #fff; font-weight: normal;">Galata Mah. Çamlıbey Sok. No:23/5 <br /> Fatih/istanbul</span></div>
                <br />
                <div style="color:#fff; text-align:left; margin-left:200px;">Phone Number:  <span style="color: #fff; font-weight: normal;">444 1 555</span></div>
                
                <hr style="width:65%;" />
                <br />
                <div style="color:#fff; font-size:20px; font-weight:lighter;" >© 2020 VoteIt, Inc</div>
                <div></div>
            </div>
        </div>
    </div>
</section>