
@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/_Layout _admin.cshtml";
}

<div class="admin_index_content">
    <span class="head_text">Welcome to <br> <span style="color:#0096FA; ">ADMIN</span> PANEL </span>
    <br><br><br>
    <span class="context_text">You can reach the relevant field on the left panel and make changes on the database.</span>
</div>
